.input-link {
    width: 100%;}

.table-bordered td, .table-bordered th {
    border-color: rgba(147, 150, 154, 0.76)}

.table thead th {
    border-bottom: 2px solid rgba(147, 150, 154, 0.76);}

hr {
    border-top: 2px solid rgba(147, 150, 154, 0.76);}

.btn {
    border-color: rgba(147, 150, 154, 0.76);}

input#login, input#password, input#confirm_password {
    width: 100%;
    margin-bottom: 10px;}

.btn {
    width: 100px;
    color: #aaa;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

#login-btn {
    margin: 0 auto;
    display: inherit;}

.btn.menu {
    float: right;
    margin-left: 10px;
    color: inherit;}

h1, h2, h3, h4, h5, h6 {
    color: #aaa;}

a {
    color: #aaa;
     text-decoration: underline;}

.short-btn {
    float: right;}

#registration-link, #login-link {
    display: inline-block;
    margin: 0 auto;}

.form {
    width: 400px;
    display: inline-block;
    margin: 0 auto;}